---
layout: post
title: "코코아☕️  겹치는 시간표 찾기"
date: 2024-10-11 15:00:00 +0900
categories: [업무, 스케줄, 일정, 일정관리]
tags: [업무, 스케줄, 일정, 일정관리]
---
<style>
  /* 열 배경색 설정 */
  .highlight-yellow {
    background-color: rgb(255, 255, 215); /* 노란색 */
  }
  .highlight-deep-yellow {
    background-color: rgb(255, 255, 155); /* 노란색 */
  }
  #schedule table {
    margin: 0 auto; /* 테이블을 가운데 정렬 */
    font-size: 1.2em; /* 폰트 크기 조정 */

  }
  /* 오늘 날짜 행 하이라이트 스타일 추가 */
  .today-highlight {
    background-color: #ffcccc !important; /* 연한 빨간색 */
    font-weight: bold;
  }
</style>

<div id="schedule">

  {% assign schedule_c1_epc_today = site.data.schedule_c1_epc_today.data %}
  {% assign schedule_c1_epc_next_week = site.data.schedule_c1_epc_next_week.data %}
  {% assign schedule_c1_epc_next_two_week = site.data.schedule_c1_epc_next_two_week.data %}
  {% assign schedule_c1_epc_next_three_week = site.data.schedule_c1_epc_next_three_week.data %}

  {% assign schedule_c1_etc_today = site.data.schedule_c1_etc_today.data %}
  {% assign schedule_c1_etc_next_week = site.data.schedule_c1_etc_next_week.data %}
  {% assign schedule_c1_etc_next_two_week = site.data.schedule_c1_etc_next_two_week.data %}
  {% assign schedule_c1_etc_next_three_week = site.data.schedule_c1_etc_next_three_week.data %}

  {% assign schedule_c1_svc_today = site.data.schedule_c1_svc_today.data %}
  {% assign schedule_c1_svc_next_week = site.data.schedule_c1_svc_next_week.data %}
  {% assign schedule_c1_svc_next_two_week = site.data.schedule_c1_svc_next_two_week.data %}
  {% assign schedule_c1_svc_next_three_week = site.data.schedule_c1_svc_next_three_week.data %}

  {% assign schedule_c2_svc_today = site.data.schedule_c2_svc_today.data %}
  {% assign schedule_c2_svc_next_week = site.data.schedule_c2_svc_next_week.data %}
  {% assign schedule_c2_svc_next_two_week = site.data.schedule_c2_svc_next_week.data %}
  {% assign schedule_c2_svc_next_three_week = site.data.schedule_c2_svc_next_week.data %}

  {% assign schedule_c2_epc_today = site.data.schedule_c2_epc_today.data %}
  {% assign schedule_c2_epc_next_week = site.data.schedule_c2_epc_next_week.data %}
  {% assign schedule_c2_epc_next_two_week = site.data.schedule_c2_epc_next_two_week.data %}
  {% assign schedule_c2_epc_next_three_week = site.data.schedule_c2_epc_next_three_week.data %}


  <!-- 이번 주와 다음 주 데이터를 분리하여 저장 -->
  {% assign schedules_today = "" | split: "" %}
  {% assign schedules_next_week = "" | split: "" %}
  {% assign schedules_next_two_week = "" | split: "" %}
  {% assign schedules_next_three_week = "" | split: "" %}

  {% for item in schedule_c1_epc_today %}
    {% assign schedules_today = schedules_today | push: item %}
  {% endfor %}
  
  {% for item in schedule_c1_epc_next_week %}
    {% assign schedules_next_week = schedules_next_week | push: item %}
  {% endfor %}

  {% for item in schedule_c1_epc_next_two_week %}
    {% assign schedules_next_two_week = schedules_next_two_week | push: item %}
  {% endfor %}
  
  {% for item in schedule_c1_epc_next_three_week %}
    {% assign schedules_next_three_week = schedules_next_three_week | push: item %}
  {% endfor %}

  {% for item in schedule_c1_etc_today %}
    {% assign schedules_today = schedules_today | push: item %}
  {% endfor %}
  
  {% for item in schedule_c1_etc_next_week %}
    {% assign schedules_next_week = schedules_next_week | push: item %}
  {% endfor %}

  {% for item in schedule_c1_etc_next_two_week %}
    {% assign schedules_next_two_week = schedules_next_two_week | push: item %}
  {% endfor %}
  
  {% for item in schedule_c1_etc_next_three_week %}
    {% assign schedules_next_three_week = schedules_next_three_week | push: item %}
  {% endfor %}
  
  {% for item in schedule_c1_svc_today %}
    {% assign schedules_today = schedules_today | push: item %}
  {% endfor %}
  
  {% for item in schedule_c1_svc_next_week %}
    {% assign schedules_next_week = schedules_next_week | push: item %}
  {% endfor %}

  {% for item in schedule_c1_svc_next_two_week %}
    {% assign schedules_next_two_week = schedules_next_two_week | push: item %}
  {% endfor %}
  
  {% for item in schedule_c1_svc_next_three_week %}
    {% assign schedules_next_three_week = schedules_next_three_week | push: item %}
  {% endfor %}

  {% for item in schedule_c2_svc_today %}
    {% assign schedules_today = schedules_today | push: item %}
  {% endfor %}
  
  {% for item in schedule_c2_svc_next_week %}
    {% assign schedules_next_week = schedules_next_week | push: item %}
  {% endfor %}
  
  {% for item in schedule_c2_svc_next_two_week %}
    {% assign schedules_next_two_week = schedules_next_two_week | push: item %}
  {% endfor %}
  
  {% for item in schedule_c2_svc_next_three_week %}
    {% assign schedules_next_three_week = schedules_next_three_week | push: item %}
  {% endfor %}

  {% for item in schedule_c2_epc_today %}
    {% assign schedules_today = schedules_today | push: item %}
  {% endfor %}
  
  {% for item in schedule_c2_epc_next_week %}
    {% assign schedules_next_week = schedules_next_week | push: item %}
  {% endfor %}

  {% for item in schedule_c2_epc_next_two_week %}
    {% assign schedules_next_two_week = schedules_next_two_week | push: item %}
  {% endfor %}
  
  {% for item in schedule_c2_epc_next_three_week %}
    {% assign schedules_next_three_week = schedules_next_three_week | push: item %}
  {% endfor %}

  
  <!-- 날짜 행 추출 (첫 번째 행 사용) -->
  {% assign date_row_today = schedules_today[0] %}
  {% assign date_row_next_week = schedules_next_week[0] %}
  {% assign date_row_next_two_week = schedules_next_two_week[0] %}
  {% assign date_row_next_three_week = schedules_next_three_week[0] %}

  <table>
    <thead>
      <tr>
        <th>항목</th>
        <th>날짜</th>
        <th>요일</th>
        {% assign target_names = "유윤광,신하람,우승제,조현재,이정필,고수빈,양동준,정대건,이무빈" | split: "," %}
        {% for name in target_names %}
          {% case name %}
            {% when "유윤광" %}
              <th>늘보🦥</th>
            {% when "양기열" %}
              <th>연어🍣</th>
            {% when "이재현" %}
              <th>흑백🌗</th>
            {% else %}
              <th>{{ name }}</th>
          {% endcase %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% assign sunny_conditions = "○,작,집작,상집,작검,교,출,◎,상◎,상○,T,집,인,○4,상,작업,작업4,집수" | split: "," %}
      {% assign star_conditions = "◑,상◑,●,상●" | split: "," %}
      {% assign lazy_conditions = "○휴,/,※" | split: "," %}
      {% assign holiday_conditions = "휴,○4/반,R,○4반" | split: "," %}

      {% assign utc_time = 'now' | date: '%s' | plus: 0 %}
      {% assign kst_time = utc_time | plus: 32400 %}
      {% assign today_date = kst_time | date: '%m%d' %}
      
      <!-- 이번 주 일자별로 요일과 성명별 스케줄 -->
      {% for i in (2..8) %}
        {% assign current_date = date_row_today[i] %}
        <tr class="{% if current_date == today_date %}today-highlight{% endif %}">
          <td>이번주</td>
          <td>{{ date_row_today[i] }}</td>
          <td>
            {% case i %}
              {% when 2 %} 일
              {% when 3 %} 월
              {% when 4 %} 화
              {% when 5 %} 수
              {% when 6 %} 목
              {% when 7 %} 금
              {% when 8 %} 토
            {% endcase %}
          </td>
          {% for name in target_names %}
            {% assign today_item = "" %}
            {% for item in schedules_today %}
              {% if item[1] == name %}
                {% assign today_item = item %}
              {% endif %}
            {% endfor %}
              <td class="highlight-yellow">
                {% assign is_sunny = false %}
                {% assign is_star = false %}
                {% assign is_lazy = false %}
                {% assign is_holiday = false %}

                {% for condition in sunny_conditions %}
                  {% if today_item[i] == condition %}
                    {% assign is_sunny = true %}
                  {% endif %}
                {% endfor %}

                {% for condition in star_conditions %}
                  {% if today_item[i] == condition %}
                    {% assign is_star = true %}
                  {% endif %}
                {% endfor %}

                {% for condition in lazy_conditions %}
                  {% if today_item[i] == condition %}
                    {% assign is_lazy = true %}
                  {% endif %}
                {% endfor %}

                {% for condition in holiday_conditions %}
                  {% if today_item[i] == condition %}
                    {% assign is_holiday = true %}
                  {% endif %}
                {% endfor %}

                {% if is_lazy %}
                  🦥
                {% elsif is_holiday %}
                  <span style="background-color: red; color: white; border-radius: 50%;">🦥</span>
                {% elsif is_star %}
                  <span style="background-color: black; color: white; border-radius: 50%;">⭐️</span>
                {% elsif is_sunny %}
                  🌞
                {% else %}
                  {{ today_item[i] }}
                {% endif %}
              </td>  <!-- 노란색 배경 -->    
          {% endfor %}
        </tr>
      {% endfor %}
      
      <!-- 다음 주 일자별로 요일과 성명별 스케줄 -->
      {% for i in (2..8) %}
        {% assign current_date = date_row_next_week[i] %}
        <tr class="{% if current_date == today_date %}today-highlight{% endif %}">
          <td>다음주</td>
          <td>{{ date_row_next_week[i] }}</td>
          <td>
            {% case i %}
              {% when 2 %} 일
              {% when 3 %} 월
              {% when 4 %} 화
              {% when 5 %} 수
              {% when 6 %} 목
              {% when 7 %} 금
              {% when 8 %} 토
            {% endcase %}
          </td>
          {% for name in target_names %}
            {% assign next_week_item = "" %}
            {% for item in schedules_next_week %}
              {% if item[1] == name %}
                {% assign next_week_item = item %}
              {% endif %}
            {% endfor %}
                <td class="highlight-deep-yellow">
                  {% assign is_sunny = false %}
                  {% assign is_star = false %}
                  {% assign is_lazy = false %}
                  {% assign is_holiday = false %}

                  {% for condition in sunny_conditions %}
                    {% if next_week_item[i] == condition %}  {{ edit_1 }}
                      {% assign is_sunny = true %}
                    {% endif %}
                  {% endfor %}

                  {% for condition in star_conditions %}
                    {% if next_week_item[i] == condition %}  {{ edit_2 }}
                      {% assign is_star = true %}
                    {% endif %}
                  {% endfor %}

                  {% for condition in lazy_conditions %}
                    {% if next_week_item[i] == condition %}
                      {% assign is_lazy = true %}
                    {% endif %}
                  {% endfor %}

                  {% for condition in holiday_conditions %}
                    {% if next_week_item[i] == condition %}
                      {% assign is_holiday = true %}
                    {% endif %}
                  {% endfor %}

                  {% if is_lazy %}
                    🦥
                  {% elsif is_holiday %}
                    <span style="background-color: red; color: white; border-radius: 50%;">🦥</span>
                  {% elsif is_star %}
                    <span style="background-color: black; color: white; border-radius: 50%;">⭐️</span>
                  {% elsif is_sunny %}
                    🌞
                  {% else %}
                    {{ next_week_item[i] }}
                  {% endif %}
                </td>  <!-- 노란색 배경 -->          
            {% endfor %}
        </tr>
      {% endfor %}

      {% for i in (2..8) %}
        {% assign current_date = date_row_next_two_week[i] %}
        <tr class="{% if current_date == today_date %}today-highlight{% endif %}">
          <td>2주 뒤</td>
          <td>{{ date_row_next_two_week[i] }}</td>
          <td>
            {% case i %}
              {% when 2 %} 일
              {% when 3 %} 월
              {% when 4 %} 화
              {% when 5 %} 수
              {% when 6 %} 목
              {% when 7 %} 금
              {% when 8 %} 토
            {% endcase %}
          </td>
          {% for name in target_names %}
            {% assign next_week_two_item = "" %}
            {% for item in schedules_next_two_week %}
              {% if item[1] == name %}
                {% assign next_week_two_item = item %}
              {% endif %}
            {% endfor %}
                <td class="highlight-yellow">
                  {% assign is_sunny = false %}
                  {% assign is_star = false %}
                  {% assign is_lazy = false %}
                  {% assign is_holiday = false %}

                  {% for condition in sunny_conditions %}
                    {% if next_week_two_item[i] == condition %}  {{ edit_1 }}
                      {% assign is_sunny = true %}
                    {% endif %}
                  {% endfor %}

                  {% for condition in star_conditions %}
                    {% if next_week_two_item[i] == condition %}  {{ edit_2 }}
                      {% assign is_star = true %}
                    {% endif %}
                  {% endfor %}

                  {% for condition in lazy_conditions %}
                    {% if next_week_two_item[i] == condition %}
                      {% assign is_lazy = true %}
                    {% endif %}
                  {% endfor %}

                  {% for condition in holiday_conditions %}
                    {% if next_week_two_item[i] == condition %}
                      {% assign is_holiday = true %}
                    {% endif %}
                  {% endfor %}

                  {% if is_lazy %}
                    🦥
                  {% elsif is_holiday %}
                    <span style="background-color: red; color: white; border-radius: 50%;">🦥</span>
                  {% elsif is_star %}
                    <span style="background-color: black; color: white; border-radius: 50%;">⭐️</span>
                  {% elsif is_sunny %}
                    🌞
                  {% else %}
                    {{ next_week_two_item[i] }}
                  {% endif %}
                </td>  <!-- 노란색 배경 -->          
            {% endfor %}
        </tr>
      {% endfor %}

      {% for i in (2..8) %}
        {% assign current_date = date_row_next_three_week[i] %}
        <tr class="{% if current_date == today_date %}today-highlight{% endif %}">
          <td>3주 뒤</td>
          <td>{{ date_row_next_three_week[i] }}</td>
          <td>
            {% case i %}
              {% when 2 %} 일
              {% when 3 %} 월
              {% when 4 %} 화
              {% when 5 %} 수
              {% when 6 %} 목
              {% when 7 %} 금
              {% when 8 %} 토
            {% endcase %}
          </td>
          {% for name in target_names %}
            {% assign next_week_three_item = "" %}
            {% for item in schedules_next_three_week %}
              {% if item[1] == name %}
                {% assign next_week_three_item = item %}
              {% endif %}
            {% endfor %}
                <td class="highlight-deep-yellow">
                  {% assign is_sunny = false %}
                  {% assign is_star = false %}
                  {% assign is_lazy = false %}
                  {% assign is_holiday = false %}

                  {% for condition in sunny_conditions %}
                    {% if next_week_three_item[i] == condition %}  {{ edit_3 }}
                      {% assign is_sunny = true %}
                    {% endif %}
                  {% endfor %}

                  {% for condition in star_conditions %}
                    {% if next_week_three_item[i] == condition %}  {{ edit_4 }}
                      {% assign is_star = true %}
                    {% endif %}
                  {% endfor %}

                  {% for condition in lazy_conditions %}
                    {% if next_week_three_item[i] == condition %}
                      {% assign is_lazy = true %}
                    {% endif %}
                  {% endfor %}

                  {% for condition in holiday_conditions %}
                    {% if next_week_three_item[i] == condition %}
                      {% assign is_holiday = true %}
                    {% endif %}
                  {% endfor %}

                  {% if is_lazy %}
                    🦥
                  {% elsif is_holiday %}
                    <span style="background-color: red; color: white; border-radius: 50%;">🦥</span>
                  {% elsif is_star %}
                    <span style="background-color: black; color: white; border-radius: 50%;">⭐️</span>
                  {% elsif is_sunny %}
                    🌞
                  {% else %}
                    {{ next_week_three_item[i] }}
                  {% endif %}
                </td>  <!-- 노란색 배경 -->          
            {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div style="margin: 20px; font-family: Arial, sans-serif;">
  <ul style="list-style-type: none; padding: 0; display: flex; justify-content: center; flex-wrap: wrap;">
    <li style="margin: 10px; text-align: center;">
      <span style="font-size: 40px; background-color: black; color: white; padding: 5px; border-radius: 50%;">⭐️</span>
      <p style="font-size: 18px; color: #555;">야간근무</p>
    </li>
    <li style="margin: 10px; text-align: center;">
      <span style="font-size: 40px;">🌞</span>
      <p style="font-size: 18px; color: #555;">주간근무</p>
    </li>
    <li style="margin: 10px; text-align: center;">
      <span style="font-size: 40px;">🦥</span>
      <p style="font-size: 18px; color: #555;">휴일</p>
    </li>
    <li style="margin: 10px; text-align: center;">
      <span style="font-size: 40px; background-color: red; color: white; padding: 5px; border-radius: 50%;">🦥</span>
      <p style="font-size: 18px; color: #555;">휴가</p>
    </li>
  </ul>
</div>
{% assign matching_dates = "" %}

<!-- 이번주 계산 -->
{% for i in (2..8) %}
  {% assign is_sunny_lazy_all = true %}
  {% for name in target_names %}
    {% assign today_item = "" %}
    {% for item in schedules_today %}
      {% if item[1] == name %}
        {% assign today_item = item %}
      {% endif %}
    {% endfor %}

    {% assign is_sunny = false %}
    {% assign is_lazy = false %}
    {% assign is_holiday = false %}

    {% for condition in sunny_conditions %}
      {% if today_item[i] == condition %}
        {% assign is_sunny = true %}
      {% endif %}
    {% endfor %}
    {% for condition in lazy_conditions %}
      {% if today_item[i] == condition %}
        {% assign is_lazy = true %}
      {% endif %}
    {% endfor %}

    {% if is_sunny == false and is_lazy == false %}
      {% assign is_sunny_lazy_all = false %}
    {% endif %}
  {% endfor %}

  {% if is_sunny_lazy_all %}
    {% if matching_dates != "" %}
      {% assign matching_dates = matching_dates | append: ", " %}
    {% endif %}
    {% assign matching_dates = matching_dates | append: date_row_today[i] %}
  {% endif %}
{% endfor %}

<!-- 다음주 계산 -->
{% for i in (2..8) %}
  {% assign is_sunny_lazy_all = true %}
  {% for name in target_names %}
    {% assign next_week_item = "" %}
    {% for item in schedules_next_week %}
      {% if item[1] == name %}
        {% assign next_week_item = item %}
      {% endif %}
    {% endfor %}

    {% assign is_sunny = false %}
    {% assign is_lazy = false %}
    {% assign is_holiday = false %}

    {% for condition in sunny_conditions %}
      {% if next_week_item[i] == condition %}
        {% assign is_sunny = true %}
      {% endif %}
    {% endfor %}
    {% for condition in lazy_conditions %}
      {% if next_week_item[i] == condition %}
        {% assign is_lazy = true %}
      {% endif %}
    {% endfor %}

    {% if is_sunny == false and is_lazy == false %}
      {% assign is_sunny_lazy_all = false %}
    {% endif %}
  {% endfor %}

  {% if is_sunny_lazy_all %}
    {% if matching_dates != "" %}
      {% assign matching_dates = matching_dates | append: ", " %}
    {% endif %}
    {% assign matching_dates = matching_dates | append: date_row_next_week[i] %}
  {% endif %}
{% endfor %}

<!-- 2주 뒤 계산 -->
{% for i in (2..8) %}
  {% assign is_sunny_lazy_all = true %}
  {% for name in target_names %}
    {% assign next_two_week_item = "" %}
    {% for item in schedules_next_two_week %}
      {% if item[1] == name %}
        {% assign next_two_week_item = item %}
      {% endif %}
    {% endfor %}

    {% assign is_sunny = false %}
    {% assign is_lazy = false %}
    {% assign is_holiday = false %}

    {% for condition in sunny_conditions %}
      {% if next_two_week_item[i] == condition %}
        {% assign is_sunny = true %}
      {% endif %}
    {% endfor %}
    {% for condition in lazy_conditions %}
      {% if next_two_week_item[i] == condition %}
        {% assign is_lazy = true %}
      {% endif %}
    {% endfor %}

    {% if is_sunny == false and is_lazy == false %}
      {% assign is_sunny_lazy_all = false %}
    {% endif %}
  {% endfor %}

  {% if is_sunny_lazy_all %}
    {% if matching_dates != "" %}
      {% assign matching_dates = matching_dates | append: ", " %}
    {% endif %}
    {% assign matching_dates = matching_dates  | append: date_row_next_two_week[i] %}
  {% endif %}
{% endfor %}

<!-- 3주 뒤 계산 -->
{% for i in (2..8) %}
  {% assign is_sunny_lazy_all = true %}
  {% for name in target_names %}
    {% assign next_three_week_item = "" %}
    {% for item in schedules_next_three_week %}
      {% if item[1] == name %}
        {% assign next_three_week_item = item %}
      {% endif %}
    {% endfor %}

    {% assign is_sunny = false %}
    {% assign is_lazy = false %}
    {% assign is_holiday = false %}

    {% for condition in sunny_conditions %}
      {% if next_three_week_item[i] == condition %}
        {% assign is_sunny = true %}
      {% endif %}
    {% endfor %}
    {% for condition in lazy_conditions %}
      {% if next_three_week_item[i] == condition %}
        {% assign is_lazy = true %}
      {% endif %}
    {% endfor %}

    {% if is_sunny == false and is_lazy == false %}
      {% assign is_sunny_lazy_all = false %}
    {% endif %}
  {% endfor %}

  {% if is_sunny_lazy_all %}
    {% if matching_dates != "" %}
      {% assign matching_dates = matching_dates | append: ", " %}
    {% endif %}
    {% assign matching_dates = matching_dates | append: date_row_next_three_week[i] %}
  {% endif %}
{% endfor %}

<div style="margin-top: 30px; padding: 20px; background-color: #f0f0f0; border-radius: 10px;">
  <h2 style="color: #333; text-align: center;">공통 모임 가능일</h2>
  <p style="text-align: center; color: #666;">
    다음은 모든 팀원이 함께 만날 수 있는 날짜입니다:<br>
    (공휴일(한국기준), 주말, 휴가(빨간색 배경 🦥), 야간근무(⭐️) 제외)

  <h2 style="color: #333; text-align: center; margin-top: 30px;">일치하는 날짜</h2>
  {% assign holidays_2024 = "0101,0209,0210,0211,0301,0410,0501,0506,0515,0606,0815,0916,0917,0918,1003,1009,1225" | split: "," %}
  <ul style="list-style-type: none; padding: 0; display: flex; flex-wrap: wrap; justify-content: center;">
    {% assign dates_array = matching_dates | split: ',' %}
    {% for date in dates_array %}
      {% assign stripped_date = date | strip %}
      {% assign month = stripped_date | slice: 0, 2 %}
      {% assign day = stripped_date | slice: 2, 2 %}
      {% assign full_date = "2024-" | append: month | append: "-" | append: day %}
      {% assign day_of_week = full_date | date: "%u" | plus: 0 %}
      
      {% assign is_holiday = false %}
      {% for holiday in holidays_2024 %}
        {% if holiday == stripped_date %}
          {% assign is_holiday = true %}
          {% break %}
        {% endif %}
      {% endfor %}
      
      {% if day_of_week < 6 and is_holiday == false %}
        <li style="margin: 5px 10px; padding: 5px 10px; background-color: rgb(255, 255, 155); color: rgb(100,100,100); border-radius: 5px;">
          {{ stripped_date }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
